*{
   padding:0;
   box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    
}
#profile h4{
    margin: 10px;
    
}
#tag{
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    height: auto;
    text-decoration: underline;
    display: flex;
   align-items: center;
}
img{
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    display:block;
    margin-left: 7px;   
    
}
#front{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
}
#info{
    text-align: left;
    font-style: normal;
}
#career{
    font-size: 20px;
    margin-left: 15px;
}

table{
    border: 2px solid black;
    width: 900px;;
    margin-left: 10px;
    line-height: 2;
}
td,th{
    text-align: center;
    border: 2px solid black;
}
#edu{
    display: inline-block;
    margin: 2px 2px 2px 5px;
    margin-left: 20px;  
}
.skill{
    margin-left: 25px;
    
}
li{
    margin-left: 35px;
    line-height: 1.5;
}
.hobbie{
    margin-left: 20px;
}
.personal{
    margin-left: 20px;
}
.personal li{
    margin-left: 130px;
}
#addr{
  margin-left:70px
}
#name{
   margin-left: 20px;
   font-size: 15px; 
   line-height: 2;
}
#language{
    margin-left: 30px;
}

.foot{
    display: flex;
    margin-left: 20px;
    gap: 650px;
    line-height: 2;
   
}
#end p{
    text-align: center;
}
#line{
    margin-left: 45px;
    line-height: 1;
}
